<style>

</style>

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4 title">Angular Vienna</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="product/list" class="nav-link" aria-current="page">
          Product List
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/dashboard" class="nav-link" aria-current="page">
          Admin Area
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="user/profile" class="nav-link" aria-current="page">
          Profile
        </a>
      </li>
    </ul>
  </header>

  <h1>Welcome to <span class="title">{{ title }}</span></h1>
  <p>User:</p>
  <pre>{{ user | json }}</pre>
</div>

<hr>

<div class="container">
  <router-outlet></router-outlet>
</div>